:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 58%, 35%);

  --White: hsl(0, 0%, 100%); /*(main heading, stats)*/
  --Slightly-transparent-white/*(main paragraph)*/: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white/*(stat headings)*/: hsla(0, 0%, 100%, 0.6);
}

html {
  height: 100%;
  font-family: "inter";
}

body {
  height: 100%;
  background-color: var(--main-background);
}

.main-card {
  background-color: var(--card-background);
  width: 70%;
  height: 50%;
  display: flex;
  margin: 100px auto;
  border-radius: 10px;
}

.main-card .image {
  width: 50%;
  background-image: url(../images/image-header-desktop.jpg);
  background-size: 100% 100%;
  border-radius: 0 10px 10px 0;
}
.main-card .image .layer {
  background-color: var(--accent);
  border-radius: inherit;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.main-card .infos {
  width: 50%;
  height: 100%;
  padding: 0 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-card .infos .main-title h1 {
  margin: 10px;
  color: var(--White);
  font-size: 3em;
}

.main-card .infos .main-title h1 span {
  color: var(--accent);
}

.main-card .infos .desc {
  margin: 10px;
  margin-top: -50px;
  color: var(--Slightly-transparent-white);
  font-size: 18px;
  width: 80%;
}

.main-card .infos .stats {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.main-card .infos .stats .stat span {
  display: block;
  color: var(--White);
  font-size: 25px;
  font-weight: bolder;
  margin: 10px 0;
}

.main-card .infos .stats .stat {
  color: var(--Slightly-transparent-white);
  font-size: 0.8em;
}

.attribution {
  color: var(--White);
}

.attribution a {
  color: var(--accent);
  text-decoration: none;
}
